* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
  display: block;
}
html {
  height: 100%;
}

body {
  line-height: 1;
  height: 100vh;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.header {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto, 0;
  font-size: 4rem;
  font-weight: bold;
  background-color: rgb(241, 69, 69);
  border-bottom: 3px solid black;
  color: rgb(255, 255, 0);
  h1 {
    -webkit-text-stroke: 2px #385ba9;

  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 100%;
  background-color: #f2f3f5;
}
.main {
  display: flex;
  // height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #f2f3f5;
  // background-color: red;
  .score-container {
    // width: 75%;
    height: 4rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    font-size: 2rem;
  
    align-items: center;
    // margin: 1rem;
    // background-color: red;
  }
  .card-container {
    // height: 75%;
    // width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5rem;
    margin: 2rem;
    .card {
      text-align: center;
      font-size: 1rem;
      // padding: .rem
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: transform 0.3s;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.footer {
  // position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  left: 0;
  bottom: 0;

}