* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
  display: block;
}
html {
  height: 100%;
}

body {
  line-height: 1;
  height: 100vh;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.header {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto, 0;
  font-size: 2rem;
  font-weight: bold;
  background-color: rgb(241, 69, 69);
  border-bottom: 3px solid black;

}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f3f5;
  .score-container {
    width: 75%;
    height: 4rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    font-size: 2rem;
  
    align-items: center;
    // margin: 1rem;
    // background-color: red;
  }
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    .card {
      text-align: center;
      font-size: 1.2rem;
      padding: .5rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: transform 0.3s;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}





#root{
  // overflow: hidden;
  // height: 100vh;
}

.App {
  // height: 100%;
}