* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
  display: block;
}
html {
  height: 100%;
}

body {
  line-height: 1;
  height: 100vh;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}
.header {
  height: 5rem;
  text-align: center;
  padding: auto, 0;
  font-size: 2rem;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  .score-container {
    width: 75%;
    display: flex;
    gap: 3rem;
    justify-content: center;
    justify-items: center;
    align-content: center;
    // margin: 1rem;
    background-color: red;
  }
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    .card {
      text-align: center;
      border: 1px solid white;
      padding: .5rem;
    }
  }
}





#root{
  // overflow: hidden;
  // height: 100vh;
}

.App {
  // height: 100%;
}